<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{%- if page.section != 'about' -%}Gabischima - {%- endif -%}{{ page.title }}</title>
  <link rel="shortcut icon" type="image/png" href="{{ "/favicon.png" | relative_url }}">
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | relative_url }}">
  <!-- multiple icons for IE -->
  <meta name="msapplication-square310x310logo" content="{{ "/msapplication-square310x310logo.png" | relative_url }}">
  <meta name="version" content="{{ site.version }}">
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-149356179-1', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->

  <style>
    @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto+Condensed:700|Roboto:700&display=swap');
    @import url('{{ "/assets/css/style.css" | relative_url }}');
  </style>

{%- include seo.html -%}

</head>