{%- assign language = page.lang | default: site.lang | default: 'en' -%}
<div class="gsm-header">
  <ul class="gsm-nav-list">
    <li class="gsm-nav-list__item{% if page.section == 'home' %} _active{% endif %}">
      <a href="{{ site.menu[language].home.link | prepend: site.url }}">
        <span>
          {{ site.menu[language].home.title }}
        </span>
      </a>
    </li>
    <li class="gsm-nav-list__item{% if page.section == 'portfolio' %} _active{% endif %}">
      <a href="{{ site.menu[language].portfolio.link | prepend: site.url }}">
        <span>
          {{ site.menu[language].portfolio.title }}
        </span>
      </a>
    </li>
    <li class="gsm-nav-list__item{% if page.section == 'curriculum' %} _active{% endif %}">
      <a href="{{ site.menu[language].curriculum.link | prepend: site.url }}">
        <span>
          {{ site.menu[language].curriculum.title }}
        </span>
      </a>
    </li>
  </ul>
</div>