<div class="gsm-header">
  <ul class="gsm-nav-list">
    <li class="gsm-nav-list__item _active">
      <a href="javascript:void(0);">
        sobre
      </a>
    </li>
    <li class="gsm-nav-list__item">
      <a href="javascript:void(0);">
        portfolio
      </a>
    </li>
    <li class="gsm-nav-list__item">
      <a href="javascript:void(0);">
        currículo
      </a>
    </li>
    <li class="gsm-nav-list__item">
      <a href="javascript:void(0);">
        contato
      </a>
    </li>
  </ul>
</div>