{% assign language = page.lang | default: site.lang | default: 'pt' %}
<!-- Primary Meta Tags -->
<meta name="title" content="{% if page.section != 'about' %}Gabischima - {% endif %}{{ page.title }}">
<meta name="description" content="{{ site.seo[language].description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="{% if page.section != 'about' %}Gabischima - {% endif %}{{ page.title }}">
<meta property="og:description" content="{{ site.seo[language].description }}">
<meta property="og:image" content="{{ "/enne_pattern.png" | relative_url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}">
<meta property="twitter:title" content="{% if page.section != 'about' %}Gabischima - {% endif %}{{ page.title }}">
<meta property="twitter:description" content="{{ site.seo[language].description }}">
<meta property="twitter:image" content="{{ "/enne_pattern.png" | relative_url }}">
