{%- assign lang = page.lang | default: site.lang | default: 'en' -%}
<div class="gsm-tabbar">
  <ul class="gsm-tabbar__list">
    <li class="gsm-tabbar__item">
      {%- assign item = site.portfolioTabbar.all[lang] -%}
      <a href="{{ site.menu[lang].portfolio.link | prepend: site.url }}" class="gsm-tabbar__link{% unless page.tag %} _active{% endunless %}">
        {{ item.name }}
      </a>
    </li>
    <li class="gsm-tabbar__item">
      {%- assign item = site.portfolioTabbar.development[lang] -%}
      {%- assign pageUrl = site.portfolioTabbar.development[lang].url | replace: "/", "" -%}
      <a href="{{ site.menu[lang].portfolio.link | prepend: site.url }}{{ item.url }}" class="gsm-tabbar__link{% if page.tag == pageUrl %} _active{% endif %}">
        {{ item.name }}
      </a>
    </li>
    <li class="gsm-tabbar__item">
      {%- assign item = site.portfolioTabbar.design[lang] -%}
      {%- assign pageUrl = site.portfolioTabbar.design[lang].url | replace: "/", "" -%}
      <a href="{{ site.menu[lang].portfolio.link | prepend: site.url }}{{ item.url }}" class="gsm-tabbar__link{% if page.tag == pageUrl %} _active{% endif %}">
        {{ item.name }}
      </a>
    </li>
    <li class="gsm-tabbar__item">
      {%- assign item = site.portfolioTabbar.illustration[lang] -%}
      {%- assign pageUrl = site.portfolioTabbar.illustration[lang].url | replace: "/", "" -%}
      <a href="{{ site.menu[lang].portfolio.link | prepend: site.url }}{{ item.url }}" class="gsm-tabbar__link{% if page.tag == pageUrl %} _active{% endif %}">
        {{ item.name }}
      </a>
    </li>
  </ul>
</div>
