---
---
/*
** CURRICULUM
*/

.gsm-curriculum__item {
  padding-top: 24px;
}

.gsm-curriculum__item__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 14px;
}

.gsm-curriculum__item__content {
  background-color: var(--curriculum--bg-color);
  border-left: 1px solid var(--curriculum--border--color);
  margin-left: 8px;
}

.gsm-curriculum__item__content > li {
  padding: 8px;
  line-height: 1.6;
}

.gsm-curriculum__item__content li > ul > li {
  padding: 4px 4px 0px 8px;
}

.gsm-curriculum li > a,
.gsm-curriculum li > a:visited {
  color: var(--link--color);
  transition: background-position 0.2s ease-in-out,
              color 0.2s ease-in-out;
  border-bottom: 1px solid var(--link--color);
  background-size: 100% 200%;
  background-image: linear-gradient(to top, var(--link--color) 50%, transparent 50%);
  padding: 2px 2px 0;
}

.gsm-curriculum li > a:hover,
.gsm-curriculum li > a:focus {
  color: var(--link--hover--color);
  background-position: 0 100%;
}

/*
** DESKTOP
*/

@media screen and (min-width: 768px) {
  .gsm-curriculum {
    padding-top: 8px;
  }

  .gsm-curriculum {
    column-count: 3;
    column-gap: 16px;
  }

  .gsm-curriculum__item {
    break-inside: avoid-column;
    /* firefox */
    page-break-inside: avoid;
  }
}
