---
---
.gsm-mode-switcher {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  margin-top: 24px;
  color: var(--switcher--color);
}

.gsm-mode-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.gsm-mode-switcher__base {
  position: absolute;
  width: 60px;
  height: 25px;
  right: 0;
  border: 1px solid var(--switcher--border-color);
  background-color: var(--switcher--base---bg-color);
}

.gsm-mode-switcher__left,
.gsm-mode-switcher__right {
  position: absolute;
  height: 25px;
  width: 31px;
  border: 1px solid var(--switcher--border-color);
  background-color: var(--switcher--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  text-transform: uppercase;
}

.gsm-mode-switcher__left {
  left: 0;
  transform: rotate(-10deg) skewX(-10deg);
  top: 3px;
  border-radius: 1px;
  height: 24px;
  background-color: var(--switcher--bg-color);
}

.gsm-mode-switcher__left::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -5px;
  width: 2px;
  height: 26px;
  background-color: var(--switcher--border-color);
  border-radius: 1px;
  transform: rotate(25deg) skewX(25deg);
}

.gsm-mode-switcher__right {
  right: 0;
  color: var(--switcher--selected--color);
}

input:checked + .gsm-mode-switcher__left {
  transform: rotate(0) skewX(0);
  top: 0;
  height: 25px;
  color: var(--switcher--selected--color);
}

input:checked + .gsm-mode-switcher__left::before {
  width: 0;
}

input:checked + .gsm-mode-switcher__left + .gsm-mode-switcher__right {
  transform: rotate(10deg) skewX(10deg);
  top: 3px;
  border-radius: 1px;
  height: 24px;
  color: var(--switcher--color);
}

input:checked + .gsm-mode-switcher__left + .gsm-mode-switcher__right::before {
  content: '';
  position: absolute;
  right: -2px;
  width: 2px;
  height: 26px;
  top: -5px;
  background-color: var(--switcher--border-color);
  border-radius: 1px;
  transform: rotate(-25deg) skewX(-25deg);
}
