---
---
/*
** COLORS **
--white-000: #FFFFFF;
--white-100: #F9FAFB;
--white-200: #EBF1F5;
--white-300: #DFE9F0;
--white-400: #B6C8D4;
--white-500: #92A6B3;

--black-500: #6F8796;
--black-400: #486375;
--black-300: #314C5E;
--black-200: #193242;
--black-100: #0B1D29;
--black-000: #040d13;
*/

._mode_dark {
  --body--bg-color: #040d13;
  --body--color: #F9FAFB;

  --h1--border-color: #193242;

  --link--color: #F9FAFB;
  --link--hover--color: #0B1D29;

  --header--border--top: 1px solid #193242;

  --nav-list--color: #B6C8D4;
  --nav-list--active--color: #F9FAFB;
  --nav-list--svg--first--color: #92A6B3;
  --nav-list--svg--second--color: #486375;
  --nav-list--svg--first--active--color: #F9FAFB;
  --nav-list--svg--second--active--color: #92A6B3;

  --social-midia--fill: #92A6B3;
  --social-midia--hover--fill: #F9FAFB;

  --curriculum--bg-color: #193242;
  --curriculum--border-color: #F9FAFB;

  --gallery--border-color: #193242;

  --scroll-bar--color: #486375;

  --switcher--color: #DFE9F0;
  --switcher--border-color: #DFE9F0;
  --switcher--base---bg-color: #486375;
  --switcher--bg-color: #040d13;
  --switcher--selected--color: #F9FAFB;
}

:root,
._mode_light {
  --body--bg-color: #FFFFFF;
  --body--color: #0B1D29;

  --h1--border-color: #EBF1F5;

  --link--color: #0B1D29;
  --link--hover--color: #F9FAFB;

  --header--border--top: 1px solid transparent;

  --nav-list--color: #486375;
  --nav-list--active--color: #0B1D29;
  --nav-list--svg--first--color: #6F8796;
  --nav-list--svg--second--color: #B6C8D4;
  --nav-list--svg--first--active--color: #0B1D29;
  --nav-list--svg--second--active--color: #6F8796;

  --social-midia--fill: #6F8796;
  --social-midia--hover--fill: #0B1D29;

  --curriculum--bg-color: #EBF1F5;
  --curriculum--border-color: #0B1D29;

  --gallery--border-color: #EBF1F5;

  --scroll-bar--color: #B6C8D4;

  --switcher--color: #314C5E;
  --switcher--border-color: #314C5E;
  --switcher--base---bg-color: #B6C8D4;
  --switcher--bg-color: #FFFFFF;
  --switcher--selected--color: #0B1D29;
}
