---
---

._mode_dark {
  --body--bg-color: var(--black-000);
  --body--color: var(--white-100);

  --h1--border-color: var(--black-200);
  --h1--connect--color: var(--white-500);

  --link--color: var(--white-100);
  --link--hover--color: var(--black-100);

  --btn--color: var(--white-100);
  --btn--hover--color: var(--white-000);
  --btn--hover--bg-color: var(--black-200);

  --header--border-top--color: var(--white-400);

  --nav-list--color: var(--white-500);
  --nav-list--active--color: var(--white-100);

  --social-media--fill: var(--white-500);
  --social-media--hover--fill: var(--white-100);

  --curriculum--bg-color: var(--black-200);
  --curriculum--border-color: var(--white-100);

  --gallery--border-color: var(--black-200);

  --scroll-bar--color: var(--black-400);

  --switcher--color: var(--white-300);
  --switcher--border-color: var(--white-300);
  --switcher--base---bg-color: var(--black-400);
  --switcher--bg-color: var(--black-000);
  --switcher--selected--color: var(--white-100);

  --cookies-bg-color: var(--white-200);
  --cookies-color: var(--black-100);
}

:root,
._mode_light {
  --white-000: #FFFFFF;
  --white-100: #F0F1F2;
  --white-200: #E1E3E5;
  --white-300: #D2D6D9;
  --white-400: #B0B8BF;
  --white-500: #929EA6;

  --black-500: #697983;
  --black-400: #536068;
  --black-300: #3E484E;
  --black-200: #2A3135;
  --black-100: #181C1E;
  --black-000: #000000;

  --body--bg-color: var(--white-000);
  --body--color: var(--black-100);

  --h1--border-color: var(--white-200);
  --h1--connect--color: var(--white-500);

  --link--color: var(--black-100);
  --link--hover--color: var(--white-100);

  --btn--color: var(--black-100);
  --btn--hover--color: var(--black-000);
  --btn--hover--bg-color: var(--white-200);

  --header--border-top--color: var(--black-200);

  --nav-list--color: var(--black-500);
  --nav-list--active--color: var(--black-100);

  --social-media--fill: var(--black-500);
  --social-media--hover--fill: var(--black-100);

  --curriculum--bg-color: var(--white-200);
  --curriculum--border-color: var(--black-100);

  --gallery--border-color: var(--white-200);

  --scroll-bar--color: var(--white-400);

  --switcher--color: var(--black-300);
  --switcher--border-color: var(--black-300);
  --switcher--base---bg-color: var(--white-400);
  --switcher--bg-color: var(--white-000);
  --switcher--selected--color: var(--black-100);

  --cookies-bg-color: var(--black-000);
  --cookies-color: var(--white-100);
}
